/* .nav-component{
    padding: 0;
    margin: 0;
    background-color: black;
}
.logo{
    color: white;
}
.navbar{
    padding: .5rem 2rem;

}
.nav ul{
    display: flex;
}
.nav ul li{
    list-style: none;
    border: 2px solid white;
    padding: .5rem 3rem;
    height:;

}
.nav ul li:hover{
    background: white;
}
.nav ul li a{
     color: white;
     text-decoration: none;
     position: relative;
}


.nav ul ul{
    display: none;
}
.btn{
    border: 2px solid white;
    padding: 5px 20px;
    border-radius:10px ;
    color: white;
    font-size: 20px;

}
.btn:hover{
    border: 2px solid rgb(102, 101, 101);
    color: rgb(102, 101, 101);

} */

.navbar{
    background-color: black;
    padding: 1% 4%;
    display: flex;
    align-items: center;
}
.navbar h1{
    color: white;
}
.navbar ul{
    display: flex;
}
 .navbar ul ul{
    display: none;
    margin-left: -3rem;
    position: absolute;
    width: 170px;
    
    background-color: black;
}
.navbar ul ul>li{
    padding: 6px 0;
    margin-bottom: 10px;
    margin-left:-1rem ;
    margin-top: 10px;
    width: 100%;
    transition: all .45s ease;
    /* color: black;
    background:white ; */
}
.navbar ul ul>li:hover{
    color: black;
    background:white ;
}
.navbar ul li:hover>ul{
    display: block;
}
.navbar ul li{
    list-style: none;
    padding: 8px 25px 0 25px;
    transition: all .45s ease;
    position: relative;

}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: all .45s ease;

}
.navbar ul li a:hover{
    color: rgb(91, 91, 91);
}
.btn{
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 3px 15px;
    border-radius: 10px;
    border: 2px solid white;
    transition: all .45s ease;
}
.btn:hover{
    color: rgb(91, 91, 91);
    border: 2px solid rgb(91, 91, 91);

}


/* CARDS SECTION */
/* .bg-card{
    background-color: rgb(33, 33, 33);
} */
.bg-card h1{
    text-align: center;
    padding: 60px 0;
    color: black;
}
.card-template{
   width: 90%;
   margin: 0 auto;
} 
.card{
    width: 300px;
    margin: 0 15px 5rem 15px;
    
}
.card-sec{
    
    display: flex;
   
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    
}
/* .bg-card{
    width: 90%;
} */

.trending ul{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    
}
.trending ul li{
    padding: 10px 15px;
    list-style: none;
    border: 3px solid black;
    margin-right: 10px;
    border-radius: 10px;
}
.trend{
    color: black;
    text-decoration: none;
}
.trend:hover{
    color: rgb(46, 46, 46);
}
.trending p{
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}


